# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.pyc

# Variables de entorno
.env
*.env

# Base de datos
db.sqlite3
*.sqlite3

# Archivos generados
staticfiles/
media/

# Logs
*.log

# VSCode
.vscode/
